body {
	font-family: 'Montserrat', sans-serif;
	color: #696969;
}


/** TOP NAV **/

.custom-nav {
	background-color: #ffffff;
	border-bottom: 2px solid #e9e9e9;
	/* margin-bottom: -20px; */
}

.navbar-brand {
	font-weight: 300;
}

.navbar-right {
	font-weight: 600;
}

/** FOOTER **/

.custom-foo {
	border-top: 2px solid #e9e9e9;
	padding-top: 1em;
}

.cat-footer {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.copyright {
	margin-top: 2em;
}

.post-date-footer {
	font-weight: 200;
}

footer a {
	color: #696969;
}

footer a:hover {
	color: #333333;
	text-decoration: none;
}

/** HOMEPAGE POSTS **/

.post-text {
	height: 500px;
	display: table;
	padding: 100px;
}

.post-row {
	display: table-row;
}

.post-cell {
	display: table-cell;
	vertical-align: middle;
}

.post-back {
	background: rgba(56,56,56,0.5);
}

.cat-glyph {
	padding-left: 3%;
}

.post-info {
	text-transform: uppercase;
}

.post-back a {
	color: #ffffff;
}

.post-back a:hover {
	color: #aeaeae;
	text-decoration: none;
}

.mid-post a {
	color: #696969;
}

.mid-post a:hover {
	color: #333333;
	text-decoration: none;
}

.mid-post hr {
	border-top: 1px solid #696969;
}