body {
	font-family: 'Montserrat', sans-serif;
	color: #696969;
}


/** TOP NAV **/

.custom-nav {
	background-color: #ffffff;
	border-bottom: 2px solid #e9e9e9;
	/* margin-bottom: -20px; */
}

.navbar-brand {
	font-weight: 300;
}

.navbar-right {
	font-weight: 600;
	text-transform: uppercase;
}

/** FOOTER **/

.custom-foo {
	border-top: 2px solid #e9e9e9;
	padding-top: 1em;
}

.cat-footer {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.copyright {
	margin-top: 2em;
}

.post-date-footer {
	font-weight: 200;
}

#foot-soc i {
	margin-right: 15px;
}

footer a {
	color: #696969;
}

footer a:hover {
	color: #333333;
	text-decoration: none;
}

/** HOMEPAGE POSTS **/

.post-text {
	height: 500px;
	display: table;
	padding: 100px;
}

.post-row {
	display: table-row;
}

.post-cell {
	display: table-cell;
	vertical-align: middle;
}

.post-back {
	background: rgba(56,56,56,0.5);
}

.cat-glyph {
	padding-left: 3%;
}

.post-info {
	text-transform: uppercase;
}

.post-back a {
	color: #ffffff;
}

.post-back a:hover {
	color: #aeaeae;
	text-decoration: none;
}

.mid-post a {
	color: #696969;
}

.mid-post a:hover {
	color: #333333;
	text-decoration: none;
}

.mid-post hr {
	border-top: 1px solid #696969;
}

/** GLOBAL FONT STYLES **/
h2 {
	text-transform: uppercase;
	font-weight: 700;
}

/** SEE MORE HOMEPAGE **/
.more-cat {
	display: inline-flex;
}

.more-cat h2 {
	margin-left: 25px;
	margin-right: 25px;
}

.more-cat a {
	color: #696969;
	font-weight: 300;
	font-style: italic;
}

.more-cat a:hover {
	color: #333333;
	text-decoration: none;
}

.home-cat {
	margin-top: 40px;
	margin-bottom: 40px;
}

.home-cat hr {
	border-top: 1px solid #696969;
}

/** ABOUT HP **/
.ab-sc {
	margin-bottom: 40px;
}

.social-ab {
	font-style: italic;
	text-transform: uppercase;
}

.social-ab i {
	margin-left: 10px;
	margin-right: 10px;
}

.follow-ab {
	display: inline-flex;
}