body {
	font-family: 'Montserrat', sans-serif;
	color: #696969;
}


/*************/
/** TOP NAV **/
/*************/

.custom-nav {
	background-color: #ffffff;
	border-bottom: 1px solid #e7e7e7;
	/* margin-bottom: -20px; */
}

.navbar-brand {
	font-weight: 300;
	padding-top: 10px;
}

.navbar-right {
	font-weight: 600;
	text-transform: uppercase;
}

.navbar-default .navbar-collapse {
	border-color: #ffffff;
}

.navbar-default .navbar-toggle {
	border-color: #ffffff;
}

#logo img {
	max-width: 12em;
}

/************/
/** FOOTER **/
/************/

.custom-foo {
	border-top: 2px solid #e9e9e9;
	padding-top: 1em;
}

.cat-footer {
	list-style-type: none;
	max-width: none;
	padding: 0;
	margin: 0;
}

.copyright {
	margin-top: 2em;
}

.post-date-footer {
	font-weight: 200;
}

#foot-soc {
	float: left;
	max-width: none;
}

#foot-soc i {
	margin-right: 15px;
}

footer a {
	color: #696969;
}

footer a:hover {
	color: #333333;
	text-decoration: none;
}

footer li {
	font-size: 18px;
}

.custom-foo h4, p {
	max-width: none;

}

/********************/
/** HOMEPAGE POSTS **/
/********************/

.post-one {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	color: #FFFFFF;
}

.post-two {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 50%;
	color: #696969;
	float: right;
}

.post-three {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 50%;
	color: #696969;
}

.post-four {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	color: #FFFFFF;
}

.post-text {
	height: 500px;
	display: table;
	padding: 100px;
}

.post-row {
	display: table-row;
}

.post-cell {
	display: table-cell;
	vertical-align: middle;
}

.post-back {
	background: rgba(56,56,56,0.5);
}

.cat-glyph {
	padding-left: 3%;
}

.post-info {
	text-transform: uppercase;
}

.post-back a {
	color: #ffffff;
}

.post-back a:hover {
	color: #aeaeae;
	text-decoration: none;
}

.mid-post a {
	color: #696969;
}

.mid-post a:hover {
	color: #333333;
	text-decoration: none;
}

.mid-post hr {
	border-top: 1px solid #696969;
}

/************************/
/** GLOBAL FONT STYLES **/
/************************/

h2 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	text-transform: uppercase;
	font-weight: 800;
}

/***********************/
/** SEE MORE HOMEPAGE **/
/***********************/

.more-cat {
	display: inline-flex;
}

.more-cat h2 {
	margin-left: 25px;
	margin-right: 25px;
}

.more-cat a {
	color: #696969;
	font-weight: 300;
	font-style: italic;
}

.more-cat a:hover {
	color: #333333;
	text-decoration: none;
}

.home-cat {
	margin-top: 40px;
	margin-bottom: 40px;
}

.home-cat hr {
	border-top: 1px solid #696969;
}

/**************/
/** ABOUT HP **/
/**************/

.about {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 50%;
	color: #696969;
	float: right;
}

.ab-sc strong {
	font-size: 20px;
}

.social-ab {
	font-style: italic;
	text-transform: uppercase;
}

.social-ab i {
	margin-left: 10px;
	margin-right: 10px;
}

.follow-ab {
	display: inline-flex;
}


/****************/
/** PAGINATION **/
/****************/

.paginate {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.paginate a {
    color: #696969;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-weight: 600;
}

.paginate a.active {
    background-color: #696969;
    color: white;
}

.paginate a:hover:not(.active) {background-color: #ddd;}

/**************/
/** CATEGORY **/
/**************/

.cat-header hr {
	border-top: 1px solid #696969;
}



/***************/
/** POST PAGE **/
/***************/

.single-text {
	height: 500px;
	display: table;
	padding: 100px;
}

.single-row {
	display: table-row;
}

.single-cell {
	display: table-cell;
	vertical-align: middle;
}

.single-back {
	background: rgba(56,56,56,0.5);
}

.single-back a {
	color: #ffffff;
}

.single-back a:hover {
	color: #aeaeae;
	text-decoration: none;
}

#share-buttons {
	text-transform: uppercase;
	max-width: none;
}

#share-buttons i {
	margin-left: 10px;
	margin-right: 10px;
}

.single-body {
	margin-top: 30px;
}

.single-body p, 
.single-body h2, 
.single-body h3, 
.single-body h4, 
.single-body h5, 
.single-body h6, 
.single-body ul, 
.single-body ol,
.single-body pre {
	max-width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.single-body img {
	max-width: 100%;
	margin-bottom: 20px;
}

#disqus_thread {
	padding: 10px;
}


/*******************/
/** MEDIA QUERIES **/
/*******************/



/*******************/
/** LARGE DEVICES **/
/*******************/

@media (max-width: 1200px) {

	/**************************/
	/** DESKTOP FOOTER SMALL **/
	/**************************/

	.custom-foo {
		text-align: center;
	}

	#foot-soc {
		float: none;
	}


	/***********************************/
	/** DESKTOP HOME & CATEOGRY SMALL **/
	/***********************************/

	.post-text {
		padding: 50px;
	}

	/************************/
	/** DESKTOP POST SMALL **/
	/************************/

	.single-body img {
		margin: 10px 0px 10px 0px;
	}


}


/********************/
/** MEDIUM DEVICES **/
/********************/

@media (max-width: 992px) {


	/****************************/
	/** MOBILE HOME & Category **/
	/****************************/


	.post-two {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 400px;
		color: #FFFFFF;
		width: 100%;
		float: none;
	}

	.post-three {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 400px;
		color: #FFFFFF;
		width: 100%;
		float: none;
	}

	.mid-post {
		height: 0px;
	}

	.post-text {
		padding: 20px;
	}

	/*********************/
	/** ABOUT HP MOBILE **/
	/*********************/

	.about {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 400px;
		width: 100%;
		color: #696969;
		float: none;
	}

	/************************/
	/** MOBILE SINGLE POST **/
	/************************/

	.single-text {
		padding: 50px;
	}

}



/********************/
/** SMALL DEVICES **/
/********************/

@media (max-width: 700px) {


	/*******************/
	/** MOBILE HOME 2 **/
	/*******************/

	.more-cat {
		display: inline-block;
	}

	/***********************/
	/** ABOUT HP MOBILE 2 **/
	/***********************/

	.social-ab {
		font-style: italic;
		text-transform: uppercase;
		font-size: 20px;
	}

	/************************/
	/** MOBILE SINGLE POST **/
	/************************/

	.single-text {
		padding: 10px;
	}

	.single-body p, 
	.single-body h2, 
	.single-body h3, 
	.single-body h4, 
	.single-body h5, 
	.single-body h6, 
	.single-body ul, 
	.single-body ol,
	.single-body pre {
		max-width: 100%;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

}