{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block metadescription %}{% endblock %}
{% block canonical_url %}/{% endblock %}

{% block content %}

	<style type="text/css">
	{% for post in posts|slice:':4' %}
		{% if forloop.counter == 1 %}
			.post-one {
				background-image: url({{ post.featured_image.url }});
			}
		{% elif forloop.counter == 2 %}
			.post-two {
				background-image: url({{ post.featured_image.url }});
			}
		{% elif forloop.counter == 3 %}
			.post-three {
				background-image: url({{ post.featured_image.url }});
			}
		{% elif forloop.counter == 4 %}
			.post-four {
				background-image: url({{ post.featured_image.url }});
			}
		{% endif %}
	{% endfor %}
			.about {
				background-image: url({% static 'img/man-people-camera-photography.jpg' %});
			}
	</style>

	{% for post in posts|slice:':4' %}
		{% if forloop.counter == 1 %}
		<div class="post-one">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-6 post-text post-back">
						<div class="post-row">
							<span class="post-cell">
								<h2><a href="{% url 'posts:post_page' post.category.slug post.slug %}">{{ post.title }}</a></h2>
								<hr>
								<p>{{ post.summary|striptags }}</p>
								<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
								<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% elif forloop.counter == 2 %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 post-two"></div>
				<div class="col-md-6 post-text mid-post">
					<div class="post-row">
						<span class="post-cell">
							<h2><a href="{% url 'posts:post_page' post.category.slug post.slug %}">{{ post.title }}</a></h2>
							<hr>
							<p>{{ post.summary|striptags }}</p>
							<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
							<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% elif forloop.counter == 3 %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 post-three"></div>
				<div class="col-md-6 post-text mid-post">
					<div class="post-row">
						<span class="post-cell">
							<h2><a href="{% url 'posts:post_page' post.category.slug post.slug %}">{{ post.title }}</a></h2>
							<hr>
							<p>{{ post.summary|striptags }}</p>
							<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
							<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% elif forloop.counter == 4 %}
		<div class="post-four">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 post-text post-back">
						<div class="post-row">
							<span class="post-cell">
								<h2><a href="{% url 'posts:post_page' post.category.slug post.slug %}">{{ post.title }}</a></h2>
								<hr>
								<p>{{ post.summary|striptags }}</p>
								<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
								<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}

	<!-- see more -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center home-cat">
				<h2>See More</h2>
				<hr>
					<div class="more-cat">
						{% for cat in category_cont %}
							<h2><a href="{% url 'posts:category_page' cat.slug %}">{{ cat.title }}</a></h2>
						{% endfor %}
					</div>
				<hr>
			</div>
		</div>
	</div>

	<!-- about -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 about ab-sc"></div>
			<div class="col-md-6 post-text mid-post ab-sc">
				<div class="post-row">
					<span class="post-cell">
						<h2 id="about">About</h2>
						<hr>
						<p><strong>Developer. Designer. Marketer. Traveler.</strong> I'm an SEO by day and full stack developer/UX designer by night. I'm a native of Northern California but I'd like to think I'm a citizen of the world. And while I do love to travel the globe, I definitely consider myself a homebody when I'm not getting my passport stamped.</p>
						<p>I hope to use this personal site to share my experiences and the knowledge I pick up along the way. If you'd like to get in touch, contact me via the social profiles listed below.</p>
						<div class="follow-ab">
							<h3 class="social-ab">Follow Me:<a href="https://twitter.com/ChiversKyle"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="https://www.facebook.com/kylechiversnmfn"><i class="fa fa-facebook-official" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/kyle-chivers-6067b616/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a><a href="https://github.com/kchiv"><i class="fa fa-github" aria-hidden="true"></i></a></h3>
						</div>
					</span>
				</div>
			</div>
		</div>
	</div>

{% endblock %}