{% extends 'base.html' %}

{% block title %}{{ cat_obj.title }}{% endblock %}
{% block metadescription %}{{ cat_obj.meta_desc|striptags }}{% endblock %}

{% block content %}

	<style type="text/css">
	{% for post in post_paginate %}
		{% if forloop.counter == 1 %}
			.post-one {
				background-image: url({{ post.featured_image.url }});
			}
		{% elif forloop.counter == 2 %}
			.post-two {
				background-image: url({{ post.featured_image.url }});
			}
		{% elif forloop.counter == 3 %}
			.post-three {
				background-image: url({{ post.featured_image.url }});
			}
		{% elif forloop.counter == 4 %}
			.post-four {
				background-image: url({{ post.featured_image.url }});
			}
		{% endif %}
	{% endfor %}
	</style>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center cat-header">
				<h1>{{ cat_obj.title }}</h1>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<p>{{ cat_obj.body }}</p>
			</div>
		</div>
	</div>

	{% for post in post_paginate %}
		{% if forloop.counter == 1 %}
		<div class="post-one">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-6 post-text post-back">
						<div class="post-row">
							<span class="post-cell">
								<h2><a href="{% url 'posts:post_page' post.category.slug post.slug %}">{{ post.title }}</a></h2>
								<hr>
								<p>{{ post.summary|striptags }}</p>
								<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
								<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% elif forloop.counter == 2 %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 post-two"></div>
				<div class="col-md-6 post-text mid-post">
					<div class="post-row">
						<span class="post-cell">
							<h2><a href="{% url 'posts:post_page' post.category.slug post.slug %}">{{ post.title }}</a></h2>
							<hr>
							<p>{{ post.summary|striptags }}</p>
							<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
							<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% elif forloop.counter == 3 %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 post-three"></div>
				<div class="col-md-6 post-text mid-post">
					<div class="post-row">
						<span class="post-cell">
							<h2><a href="{% url 'posts:post_page' post.category.slug post.slug %}">{{ post.title }}</a></h2>
							<hr>
							<p>{{ post.summary|striptags }}</p>
							<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
							<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% elif forloop.counter == 4 %}
		<div class="post-four">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 post-text post-back">
						<div class="post-row">
							<span class="post-cell">
								<h2><a href="{% url 'posts:post_page' post.category.slug post.slug %}">{{ post.title }}</a></h2>
								<hr>
								<p>{{ post.summary|striptags }}</p>
								<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
								<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}




	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				{% if post_paginate.has_other_pages %}
					<div class="paginate">
						{% if post_paginate.has_previous %}
						<a href="?page={{ post_paginate.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
						{% else %}
						{% endif %}
						{% for i in post_paginate.paginator.page_range %}
						{% if post_paginate.number == i %}
							<a href="#" class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
						{% else %}
							<a href="?page={{ i }}">{{ i }}</a>
						{% endif %}
						{% endfor %}
						{% if post_paginate.has_next %}
							<a href="?page={{ post_paginate.next_page_number }}"><span class="glyphicon glyphicon-chevron-right"></span></a>
						{% else %}
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}