{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block metadescription %}{{ post.meta_desc|striptags }}{% endblock %}
{% block canonical_url %}{% url 'posts:post_page' post.category.slug post.slug %}{% endblock %}

{% block social_data %}
	<!-- Facebook OG -->
	<meta property="og:title" content="{{ post.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{ post.meta_desc|striptags }}" />
	<meta property="og:url" content="http://kylechivers.com{% url 'posts:post_page' post.category.slug post.slug %}" />
	<meta property="og:image" content="http://kylechivers.com{{ post.featured_image.url }}" />
	<meta property="article:section" content="{{ post.category }}" />
	<meta property="article:published_time" content="{{ post.pub_date_meta }}" />
	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@ChiversKyle">
	<meta name="twitter:creator" content="@ChiversKyle">
	<meta name="twitter:title" content="{{ post.title }}">
	<meta name="twitter:description" content="{{ post.meta_desc|striptags }}">
	<meta name="twitter:image" content="http://kylechivers.com{{ post.featured_image.url }}">
{% endblock %}

{% block schema_data %}
	<!-- Schema -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BlogPosting",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "http://kylechivers.com{% url 'posts:post_page' post.category.slug post.slug %}"
			},
			"headline": "{{ post.title }}",
			"image": [
				"http://kylechivers.com{{ post.featured_image.url }}"
			],
			"datePublished": "{{ post.pub_date_meta }}",
			"dateModified": "{{ post.pub_date_mod }}",
			"author": {
				"@type": "Person",
				"name": "Kyle Chivers"
			},
			"publisher": {
				"@type": "Organization",
				"name": "Kyle Chivers",
				"logo": {
					"@type": "ImageObject",
					"url": "http://kylechivers.com{% static 'img/kyle_logo.png' %}"
				}
			},
			"description": "{{ post.meta_desc|striptags }}"
		}
	</script>
{% endblock %}

{% block content %}

	<style type="text/css">
			.single-post {
				background-image: url({{ post.featured_image.url }});
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				height: 500px;
				color: #FFFFFF;
			}
	</style>

	<div class="container">
		<div class="row">
			<div class="single-post">
				<div class="col-sm-12 text-center single-text single-back">
					<div class="single-row">
						<span class="single-cell">
							<h1>{{ post.header }}</h1>
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<hr>
									<p class="post-info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
									<a href="{% url 'posts:category_page' post.category.slug %}"><span class="cat-glyph glyphicon glyphicon-book" aria-hidden="true"></span> {{ post.category }}</a></p>
									<h3 id="share-buttons">Share:<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></h3>
								</div>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 single-body">
				{{ post.body|safe }}
			</div>
		</div>
		<div class="row">
			<div id="disqus_thread"></div>
			<script>
			var disqus_config = function () {
			this.page.identifier = 'post-{{ post.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://kylechivers-1.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
	</div>

                            

	{% if post.custom_css.url %}
	<link rel="stylesheet" type="text/css" href="{{ post.custom_css.url }}">
	{% else %}
	{% endif %}
	{% if post.custom_js.url %}
	<script src="{{ post.custom_js.url }}"></script>
	{% else %}
	{% endif %}

{% endblock %}